@page
@model DevExtremeAspNetCoreResponsiveApp.Pages.Usuarios.ChangePasswordModel
@{
}

<style>
    .row {
        padding-bottom: 10px;
        text-align: -webkit-center;
    }

    .panel-heading {
        padding-bottom: 10px;
    }
</style>
@using (Html.BeginForm(method: FormMethod.Post))
{
    <div class="row text-center" style="margin-top: 5%">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading font-weight-bold">Avatar</div>
                <div class="panel-body" style="align-self:center;">
                    @*<img id="dropzoneimage" src="@Model.LogoURL" width="300" height="300" />*@
                </div>
                <div class="panel-heading font-weight-bold">Datos de Seguridad</div>
                <div class="card-body">
                    <div class="row">
                        @(Html.DevExtreme().TextBoxFor(m => m.request.currentpsw).Mode(TextBoxMode.Password).Placeholder("Ingrese su contraseña actual").StylingMode(EditorStylingMode.Outlined).Width("80%"))
                    </div>
                    <div class="row">
                        @(Html.DevExtreme().TextBoxFor(m=>m.request.newpsw).Mode(TextBoxMode.Password).Placeholder("Ingrese la nueva contraseña").StylingMode(EditorStylingMode.Outlined).Width("80%"))
                    </div>
                    <div class="row">
                        @(Html.DevExtreme().TextBoxFor(m=>m.request.confirmnewpsw).Mode(TextBoxMode.Password).Placeholder("Confirme la nueva contraseña").StylingMode(EditorStylingMode.Outlined).Width("80%"))
                    </div>
                    <div class="row">
                        @(Html.DevExtreme().Button().Icon("save").Type(ButtonType.Success).Text("Guardar Cambios").UseSubmitBehavior(true).StylingMode(ButtonStylingMode.Outlined))
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
}
