@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Olvidó su contraseña?";
}

<h3>@ViewData["Title"]</h3>
<h5>Ingrese su correo electrónico.</h5>
<hr />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input name="Email" asp-for="Input.Email" width="100%" class="form-control" required />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <br />
            </div>
            <div class="row justify-content-center">                
                <input type="button" style="width:50%;text-align:center;" class="btn btn-info btn-block" value="savebutton" onclick="return sendmail();" />
            </div>
           
        </form>
    </div>
    <div class="col-md-1"></div>
</div>

<script type="text/javascript">
    function sendmail(e) {
        var values = document.forms[1].elements[0].value;
        //var datas = JSON.stringify(values);
        //alert(values);
        if (values!=null) {
            $.ajax({
                type: "POST",
    //url:'@Url.Action("ForgotPassword","Users")',
                url: '@Url.Page("ForgotPassword","Post")',
                data: { Email: values},
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                //contentType: "application/json; charset=utf-8",
                success : function(data, textStatus, jqXHR) {
                    //alert(data + " - " + textStatus + " - " + jqXHR);
                    //alert("exito");
                    var popupforgot = $("#popforgot").dxPopup("instance");
                    popupforgot.hide();
                    var popupconfirm = $("#popconfirmcode").dxPopup("instance");
                    popupconfirm.show();
                    $("#confirmdiv").html('');
                    $("#confirmdiv").load("@Url.Page("ResetPassword")");


                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
                }
            });
        }
        else {
            alert("Datos Incompletos");
        }
    }

</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


