@page
@using DevExtreme.AspNet.Mvc
@model DevExtremeAspNetCoreResponsiveApp.Areas.Identity.Pages.Account.ResetPasswordModel

@{
    ViewData["Title"] = "Crear nueva contraseña";
}

<script>


</script>

<h3>@ViewData["Title"]</h3>

@using (Html.BeginForm())
{
    @(Html.LabelFor(m=>m.Input.Email)) @(Html.TextBoxFor(m=>m.Input.Email, new { @readonly = "readonly" }))
    @using (Html.DevExtreme().ValidationGroup())
    {
        
        @Html.AntiForgeryToken()

        @(Html.DevExtreme().Form<ResetPasswordModel>().ID("formReset").FormData(Model.Input).ColCount(1).Height(500).LabelLocation(FormLabelLocation.Top)
                .Items(item =>
                {
                    
                    item.AddSimpleFor(m => m.Input.Token).IsRequired(true).Editor(e => e.TextBox().StylingMode(EditorStylingMode.Outlined).Height(50));
                    item.AddSimpleFor(m => m.Input.Password).Editor(e => e.TextBox().StylingMode(EditorStylingMode.Outlined).Height(50));
                    item.AddSimpleFor(m => m.Input.ConfirmPassword).Editor(e => e.TextBox().StylingMode(EditorStylingMode.Outlined).Height(50));
                    item.AddButton().Name("Reset").ButtonOptions(o => o.Text("Cambiar Contraseña").Height(50).OnClick(@<text>

 function reset() {
        var dxFormInstance = $("#formReset").dxForm("instance");
        var validationResult = dxFormInstance.validate();
        var values = dxFormInstance.option("formData");
        alert(values);
        //var datas = JSON.stringify(values);
        //alert(datas);
        if (validationResult.isValid) {
            $.ajax({
                type: "POST",
                //url: '@Url.Action("PostCrearBenef", "Beneficiarios")',
                url: '@Url.Page("ResetPassword","Post")',
                data: values,
                dataType: "json",                
                //contentType: "application/json; charset=utf-8",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                success : function(data, textStatus, jqXHR) {
                    //alert(data + " - " + textStatus + " - " + jqXHR);
                    var popup = $("#popconfirmcode").dxPopup("instance");
                    popup.hide();
                    dxFormInstance.resetValues();
                },
                error: function (xhr, textStatus, errorThrown) {
                    //alert('Request Status: ' + xhr.status + '; Status Text: ' + textStatus + '; Error: ' + errorThrown);
                }
            });
        }
        else {
            alert("Datos Incompletos");
        }
    }


</text>

                        ).UseSubmitBehavior(false).Type(ButtonType.Success).Width("100%"));

                })
                )}}



